@use "../core/breakpoints";

.mock-api-example__list {
  list-style: none;
  display: grid;
  font-family: var(--secondary-font);
  flex-wrap: wrap;
  gap: 25px;

  @include breakpoints.mq(tabletLandscape) {
    grid-template-columns: 1fr 1fr;
  }
  @include breakpoints.mq(wide) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  li {
    padding: 25px;
    border: 1px solid var(--primary-gold);
  }
}

.mock-api-example__loader {
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 200px;

  .mock-api-example__loader-symbol {
    display: inline-block;
    inline-size: 80px;
    block-size: 80px;

    &::after {
      content: "";
      display: block;
      inline-size: 64px;
      block-size: 64px;
      margin: 8px;
      border-radius: 50%;
      border: 6px solid var(--primary-gold);
      border-color: var(--primary-gold) transparent var(--primary-purple)
        transparent;
      animation: loader-dual-ring 1.2s linear infinite;
    }
  }
}

@keyframes loader-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
