body {
  opacity: 0;

  &[data-modules-loaded] {
    opacity: 1;
  }
}

.container {
  margin-block: 0;
  margin-inline: auto;
  max-inline-size: var(--container-max-width);
  padding-inline: var(--container-padding);
}

*:focus:not(.focus-visible),
*:focus:not(.focus-visible) {
  outline: none;
}

.focus-visible {
  outline: solid 2px var(--focus);
  outline-offset: 3px;

  &:-moz-focusring {
    outline: solid 2px var(--focus);
    outline-offset: 3px;
  }
}
