@use "./breakpoints";

:root {
  --primary-font: "Questrial", sans-serif;
  --container-max-width: 1840px;
  --container-padding: 20px;
  --module-spacing: 60px;

  @include breakpoints.mq(desktop) {
    --container-padding: 80px;
    --module-spacing: 150px;
  }
  @include breakpoints.mq(wide) {
    --container-padding: 120px;
  }
}
