@use "./breakpoints";

:root {
  --primary-font: "Titillium Web", sans-serif;
  --secondary-font: "Open Sans", sans-serif;
  --container-max-width: 1840px;
  --container-padding: 20px;
  --module-spacing: 60px;

  @include breakpoints.mq(tabletLandscape) {
    --container-padding: 80px;
    --module-spacing: 150px;
  }
  @include breakpoints.mq(wide) {
    --container-padding: 120px;
  }
}
